// nextflow.config

// Directory used by Nextflow to store intermediate results
workDir = './.work'

// Container Docker true
docker.enabled = true

// Default parameters
params {
    threads             = "2"
    length              = "75"
    quality             = "20"
    adapter_fasta       = "./data/adapters.fasta"
    blacklisted_regions = "./data/LiftOver_mm10-to-mm39_blackListed_2025.chr1.bed"
    batch               = "Test"
    genome_fasta        = "./data/Mus_musculus.GRCm39.chr1.fa"
    samples             = "./data/subset_samples.tsv"
}


// Process-level configuration
process {
    withLabel: conda_enabled {
        conda = true
    }

    // Bedtools docker container
    withName: 'bedtoolsBlackListed' {
        container = 'community.wave.seqera.io/library/bedtools:2.31.1--7c4ce4cb07c09ee4'
    }
    // Bowtie2 docker container
    withName: 'bowtieIndex'{
        container = 'community.wave.seqera.io/library/bowtie2:2.5.4--d51920539234bea7'
    }
    withName: 'bowtieAlign'{
        container = 'community.wave.seqera.io/library/bowtie2:2.5.4--d51920539234bea7'
    }
    // Cutadapt docker container
    withName: 'cutadaptTrim' {
        container = 'community.wave.seqera.io/library/pip_cutadapt:9abfb2e5050d8090'
    }
    // FastQC docker container
    withName: 'reportRawFastqc' {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName: 'reportTrimFastqc' {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    // MultiQC docker container
    withName: 'reportRawMultiqc' {
        container = 'community.wave.seqera.io/library/pip_multiqc:6fcc5dccb9d743a7'
    }
    withName: 'reportTrimMultiqc' {
        container = 'community.wave.seqera.io/library/pip_multiqc:6fcc5dccb9d743a7'
    }
    // Picard docker container
    withName: 'picardValidate' {
        container = 'broadinstitute/picard'
    }
    withName: 'picardReplace' {
        container = 'broadinstitute/picard'
    }
    withName: 'picardDuplicates' {
        container = 'broadinstitute/picard'
    }
    // Samtools docker container
    withName: 'samtoolsFilter' {
        container = 'community.wave.seqera.io/library/samtools:1.22--d3d0176a603eb4f8'
    }
    withName: 'samtoolsSort' {
        container = 'community.wave.seqera.io/library/samtools:1.22--d3d0176a603eb4f8'
    }
    withName: 'samtoolsSubset' {
        container = 'community.wave.seqera.io/library/samtools:1.22--d3d0176a603eb4f8'
    }


    // Default settings for all processes
    errorStrategy = 'terminate'     // stop the workflow on process error
    maxRetries = 1                  // retry a failed task once
    publishDir = [
        path: 'results',
        mode: 'copy'
    ]
}

/* Enable and configure Conda package manager
conda {
    enabled = true
    autoActivate = true
}
*/

// Enable report generation
report {
    enabled = true
    file = 'pipeline_report.html'
}

// Save execution trace in a tabular format
trace {
    enabled = true
    file = 'trace.txt'
}

// Save a timeline of workflow execution
timeline {
    enabled = true
    file = 'timeline.html'
}

// Save a DAG of workflow execution
dag {
    enabled = true
    file    = 'dag.html'
}