// nextflow.config

// Directory used by Nextflow to store intermediate results
workDir = './.work'

// Default parameters
params {
    threads             = "2"
    length              = "75"
    quality             = "20"
    adapter_fasta       = "./data/adapters.fasta"
    blacklisted_regions = "./data/LiftOver_mm10-to-mm39_blackListed_2025.chr1.bed"
    batch               = "Test"
    genome_fasta        = "./data/Mus_musculus.GRCm39.chr1.fa"
    samples             = "./data/subset_samples.tsv"
}



// Process-level configuration
process {
    withLabel: conda_enabled {
        conda = true
    }

    // Default settings for all processes
    errorStrategy = 'terminate'     // stop the workflow on process error
    maxRetries = 1                  // retry a failed task once
    publishDir = [
        path: 'results',
        mode: 'copy'
    ]
}

// Enable and configure Conda package manager
conda {
    enabled = true
    autoActivate = true
}

// Enable report generation
report {
    enabled = true
    file = 'pipeline_report.html'
}

// Save execution trace in a tabular format
trace {
    enabled = true
    file = 'trace.txt'
}

// Save a timeline of workflow execution
timeline {
    enabled = true
    file = 'timeline.html'
}

// Save a DAG of workflow execution
dag {
    enabled = true
    file    = 'dag.html'
}
