// nextflow.config

// Directory used by Nextflow to store intermediate results
workDir = './.work'

// Default parameters
params {
    threads             = "2"
    length              = "75"
    quality             = "20"
    adapter_fasta       = "./data/adapters.fasta"
    blacklisted_regions = "./data/LiftOver_mm10-to-mm39_blackListed_2025.bed"
    batch               = "By-default"
    genome_fasta        = "./data/Mus_musculus.GRCm39.fa"
    samples             = "./data/samples.tsv"
}


// Profile Docker
profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        // process.queue = 'your_slurm_partition' // à adapter selon votre système
        // process.memory = '4 GB'
        // process.cpus = 2
        // process.time = '2h'
    }

    test {
        workDir = './.test'
        params {
            threads             = "2"
            length              = "75"
            quality             = "20"
            adapter_fasta       = "/home/apeticca/Documents/Test_NextFlow/data/adapters.fasta"
            blacklisted_regions = "/home/apeticca/Documents/Test_NextFlow/data/LiftOver_mm10-to-mm39_blackListed_2025.chr1.bed"
            batch               = "Test"
            genome_fasta        = "/home/apeticca/Documents/Test_NextFlow/data/Mus_musculus.GRCm39.chr1.fa"
            samples             = "/home/apeticca/Documents/Test_NextFlow/data/subset_samples.tsv"
        }
    }

    docker {
        docker.enabled = true
        process {
            // Bedtools docker container
            withLabel: 'bedtools' {
                container = 'community.wave.seqera.io/library/bedtools:2.31.1--7c4ce4cb07c09ee4'
            }
            // Bowtie2 docker container
            withLabel: 'bowtie'{
                container = 'community.wave.seqera.io/library/bowtie2:2.5.4--d51920539234bea7'
            }
            // Cutadapt docker container
            withLabel: 'cutadapt' {
                container = 'community.wave.seqera.io/library/pip_cutadapt:9abfb2e5050d8090'
            }
            // FastQC docker container
            withLabel: 'fastqc' {
                container = 'biocontainers/fastqc:v0.11.9_cv8'
            }
            // MultiQC docker container
            withLabel: 'multiqc' {
                container = 'community.wave.seqera.io/library/pip_multiqc:6fcc5dccb9d743a7'
            }
            // Picard docker container
            withLabel: 'picard' {
                container = 'broadinstitute/picard'
            }
            // Samtools docker container
            withLabel: 'samtools' {
                container = 'community.wave.seqera.io/library/samtools:1.22--d3d0176a603eb4f8'
            }


            // Default settings for all processes
            errorStrategy = 'terminate'     // stop the workflow on process error
            maxRetries = 1                  // retry a failed task once
            publishDir = [
                path: 'results',
                mode: 'copy'
            ]
        }
    }

    singularity {
        singularity.enabled = true
        process {
            // Bedtools docker container
            withLabel: 'bedtools' {
                container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7d/7df273d12f0c4d8539440b68876edf39b739cb78bb806418c5b5d057fe11bdbd/data'
            }
            // Bowtie2 docker container
            withLabel: 'bowtie'{
                container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9b/9bbc1c148cefc585f681c71d9369a84f72f46ff1195850c7d416f9bbf65cb51e/data'
            }
            // Cutadapt docker container
            withLabel: 'cutadapt' {
                container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/36/367876fd1fbecc3951db82343559ca6eb72ec214d5bb2cfa1d668fc3b764d975/data'
            }
            // FastQC docker container
            withLabel: 'fastqc' {
                container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e0/e0c976cb2eca5fee72618a581537a4f8ea42fcae24c9b201e2e0f764fd28648a/data'
            }
            // MultiQC docker container
            withLabel: 'multiqc' {
                container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/d1/d1769b2531d8aa4b77af5dac6ad9ef0cc06541f0b333e4227f2692cbb1bdb724/data'
            }
            // Picard docker container
            withLabel: 'picard' {
                container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/08/0861295baa7c01fc593a9da94e82b44a729dcaf8da92be8e565da109aa549b25/data'
            }
            // Samtools docker container
            withLabel: 'samtools' {
                container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/46/463a9d694ae0666fc5fabd5fc466434f3e67c9594b3e967c76924179a0434f56/data'
            }

            // Default settings for all processes
            errorStrategy = 'terminate'     // stop the workflow on process error
            maxRetries = 1                  // retry a failed task once
            publishDir = [
                path: 'results',
                mode: 'copy'
            ]
        }
    }

    // A CHANGER ! 
    conda {
        conda.enabled = true
        process {
            // Bedtools docker container
            withName: 'bedtoolsBlackListed' {
                container = 'community.wave.seqera.io/library/bedtools:2.31.1--7c4ce4cb07c09ee4'
            }
            // Bowtie2 docker container
            withName: 'bowtieIndex'{
                container = 'community.wave.seqera.io/library/bowtie2:2.5.4--d51920539234bea7'
            }
            withName: 'bowtieAlign'{
                container = 'community.wave.seqera.io/library/bowtie2:2.5.4--d51920539234bea7'
            }
            // Cutadapt docker container
            withName: 'cutadaptTrim' {
                container = 'community.wave.seqera.io/library/pip_cutadapt:9abfb2e5050d8090'
            }
            // FastQC docker container
            withName: 'reportRawFastqc' {
                container = 'biocontainers/fastqc:v0.11.9_cv8'
            }
            withName: 'reportTrimFastqc' {
                container = 'biocontainers/fastqc:v0.11.9_cv8'
            }
            // MultiQC docker container
            withName: 'reportRawMultiqc' {
                container = 'community.wave.seqera.io/library/pip_multiqc:6fcc5dccb9d743a7'
            }
            withName: 'reportTrimMultiqc' {
                container = 'community.wave.seqera.io/library/pip_multiqc:6fcc5dccb9d743a7'
            }
            // Picard docker container
            withName: 'picardValidate' {
                container = 'broadinstitute/picard'
            }
            withName: 'picardReplace' {
                container = 'broadinstitute/picard'
            }
            withName: 'picardDuplicates' {
                container = 'broadinstitute/picard'
            }
            // Samtools docker container
            withName: 'samtoolsFilter' {
                container = 'community.wave.seqera.io/library/samtools:1.22--d3d0176a603eb4f8'
            }
            withName: 'samtoolsSort' {
                container = 'community.wave.seqera.io/library/samtools:1.22--d3d0176a603eb4f8'
            }
            withName: 'samtoolsSubset' {
                container = 'community.wave.seqera.io/library/samtools:1.22--d3d0176a603eb4f8'
            }


            // Default settings for all processes
            errorStrategy = 'terminate'     // stop the workflow on process error
            maxRetries = 1                  // retry a failed task once
            publishDir = [
                path: 'results',
                mode: 'copy'
            ]
        }
    }
}

// Enable report generation
report {
    enabled = true
    file = 'pipeline_report.html'
}

// Save execution trace in a tabular format
trace {
    enabled = true
    file = 'trace.txt'
}

// Save a timeline of workflow execution
timeline {
    enabled = true
    file = 'timeline.html'
}

// Save a DAG of workflow execution
dag {
    enabled = true
    file    = 'dag.html'
}
