// Global parameters 
params {
    threads = 4                         // Threads
    output_root = "$PWD/results"        // Root path for output directory
    input_root = "../data"              // Root path for input files 
}

// Executive profiles
profiles {
    docker {
        process {
            withContainer = true    // Docker usage authorised
            executor = 'local'
            apptainer.enabled = true

            // Processus 1&3 : FastQC + MultiQC
            withName: 'QUALITY_CHECK' {
                container = 'docker://quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
            }
            withName: 'GROUP_QC' {
                container = 'docker://quay.io/biocontainers/multiqc:1.3--py27_0'
            }

            // Processus 2 : Cutadapt + FastQC + MultiQC
            withName: 'TRIM_READS' {
                container = 'docker://quay.io/biocontainers/cutadapt:5.0--py39hbcbf7aa_0'
            }
            withName: 'TRIM_QUALITY_CHECK' {
                container = 'docker://quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
            }
            withName: 'TRIM_GROUP_QC' {
                container = 'docker://quay.io/biocontainers/multiqc:1.3--py27_0'
            }

            // Processus 3 : Bowtie2 + Samtools
            withName: 'ALIGN_AND_FILTER' {
                container = 'docker://quay.io/biocontainers/bowtie2:2.5.4--he96a11b_5'
                container = 'docker://quay.io/biocontainers/samtools:1.21--h96c455f_1'
            }

            // Processus 4 : Picard MarkDuplicates
            withName: 'PICARD_MARKDUP' {
                container = 'docker://quay.io/biocontainers/picard:3.1.1--hdfd78af_0'
            }

            // Processus 5 : Bedtools intersect + Samtools 
            withName: 'REMOVE_REGIONS' {
                container = 'docker://quay.io/biocontainers/bedtools:2.30.0--hc088bd4_0'
                container = 'docker://quay.io/biocontainers/samtools:1.21--h96c455f_1'
            }
            withName: 'GET_STATS' {
                container = 'docker://quay.io/biocontainers/samtools:1.21--h96c455f_1'
            }
            
            // Processus 6 : Samtools merge + sort
            withName: 'COUNT_READ_PAIRS' {
                container = 'docker://quay.io/biocontainers/samtools:1.21--h96c455f_1'
            }
            withName: 'SUBSAMPLE_BAM' {
                container = 'docker://quay.io/biocontainers/samtools:1.21--h96c455f_1'
            }
            withName: 'MERGE_BAM' {
                container = 'docker://quay.io/biocontainers/samtools:1.21--h96c455f_1'
            }
            withName: 'SORT_BAM' {
                container = 'docker://quay.io/biocontainers/samtools:1.21--h96c455f_1'
            }

            // Processus 7 : deepTools
            withName: 'COVERAGE_NORM' {
                container = 'docker://quay.io/biocontainers/deeptools:3.5.5--pyhdfd78af_0'
            }
            withName: 'MATRIX_COMPUTE' {
                container = 'docker://quay.io/biocontainers/deeptools:3.5.5--pyhdfd78af_0'
            }
            withName: 'GENERATE_PLOT' {
                container = 'docker://quay.io/biocontainers/deeptools:3.5.5--pyhdfd78af_0'
            }
            
            // Processus 7 : MACS + Homer
            withName: 'PEAKS_CALLING' {
                container = 'docker://quay.io/biocontainers/macs3:3.0.1--py39he47c912_3'
            }
            withName: 'ANNOTATE_PEAKS' {
                container = 'docker://quay.io/biocontainers/homer:4.11--pl5321h9f5acd7_7'
            }
        }
    }
    core_cluster {
        process {
            executor = 'slurm'
            queue = 'batch'
            cpus = params.threads
            memory = '3GB'
            conda = true
            withContainer = true
        }
        // Load the modules in Core cluster
        // Picard, MACS, deepTools versions different than the article
        process.beforeScript = [
            'QUALITY_CHECK': 'module load fastqc/0.12.1',
            'GROUP_QC': 'module load multiqc/1.13',
            'TRIM_READS': 'module load cutadapt/4.5',
            'TRIM_QUALITY_CHECK': 'module load fastqc/0.12.1',
            'TRIM_GROUP_QC': 'module load multiqc/1.13',
            'ALIGN_AND_FILTER': 'module load bowtie2/2.5.4', 
            'ALIGN_AND_FILTER': 'module load samtools/1.21',
            'COVERAGE_NORM': 'module load deeptools/3.5.4',
            'MATRIX_COMPUTE': 'module load deeptools/3.5.4',
            'GENERATE_PLOT': 'module load deeptools/3.5.4',
            'COUNT_READ_PAIRS': 'module load samtools/1.21',
            'SUBSAMPLE_BAM': 'module load samtools/1.21',
            'MERGE_BAM': 'module load samtools/1.21',
            'SORT_BAM': 'module load samtools/1.21',
            'REMOVE_REGIONS': 'module load bedtools/2.30.0',
            'REMOVE_REGIONS': 'module load samtools/1.21',
            'GET_STATS': 'module load samtools/1.21',
            'PEAKS_CALLING': 'module load macs2/2.2.7.1',
            'ANNOTATE_PEAKS': 'module load homer/4.11',
            'PICARD_MARKDUP': 'module load picard/2.23.5'
        ]
        // Singularity Containers, examples
        // process.container = [
        //    'ALIGN_AND_FILTER' : '/path/to/local/singularity-bowtie2-2.5.4--he20e202_0.sif',
        //    'PICARD_MARKDUP' : '/path/to/local/singularity-picard-3.1.1--hdfd78af_0.sif'
        // ]
        // Specific partitions 
        process.clusterOptions = [
            'ALIGN_AND_FILTER': '--partition=long --mem=25G',
            'PICARD_MARKDUP': '--partition=long --mem=25G',
            'REMOVE_REGIONS': '--partition=long --mem=10G',
            'MERGE_BAM': '--partition=long --mem=25G'
        ]
    }

}

// Print the parameters used 
println "Selected configuration :"
println " - Input root: ${params.input_root}"
println " - Output root: ${params.output_root}"
println " - Threads: ${params.threads}"